{{ define "main" }}
  <article class="prose lg:prose-xl max-w-none">
    <h1 class="text-4xl font-bold mb-4">{{ .Title }}</h1>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}" class="text-sm text-base-content/70 mb-6 block">{{ $dateHuman }}</time>

    <div class="mt-8">
      {{ .Content }}
    </div>
    
    <div class="mt-8">
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
  </article>
{{ end }}
